@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f4f4f4;

}
#root {
  overflow-y: auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
 /* background: #f4f4f4; /* Light neutral background */
  align-items: center;
  color: #333;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

